.search-page__header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px 5px;
}

.search-page__header-logo {
    object-fit: contain;
    height: 50px;
}

.search-page__header-search-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    flex-direction: row;
}
.input-field__input > input {
    width: 100%;
}
.search-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-option__left,
.search-option__right {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.search-option__left-item,
.search-option__right-item {
    font-size: small;
    display: flex;
    place-items: center;
}

.search-page__results {
    max-width: 650px;
}
.search-page__result {
    margin-bottom: 20px;
}
.search-page__result-image {
    height: 70px;
    width: 70px;
    object-fit: contain;
    margin-right: 10px;
}
.search-page__result-title h2 {
    margin: 0 0;
}
.search-page__result-title:hover {
    text-decoration: underline;
}
.search-page__result-snippet {
    margin: 0 0;
}